.container-learn {
  margin-top: 50px;
  margin-left: 50px;
  position: relative;
  width: 90%;
  height: 80vh; /* Ajusta esta altura según tus necesidades */
  background-image: url("/fondo.png");
  background-size: 90%;
  background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px; /* Ajusta el radio del borde si es necesario */
  padding: 20px; /* Ajusta el relleno si es necesario */
}

.content-learn {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.text-container-learn {
  color: #000; /* Ajusta el color del texto si es necesario */
  text-align: left;
  max-width: 500px; /* Ajusta el ancho máximo si es necesario */
}

.text-container-learn-title{
  font-size: 3em;
  margin-bottom: 20px;
}

.text-container-learn p {
  color: #3a9742;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.text-container-learn a {
  background-color: #00afc4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Cascadida Code", monospace;
  font-size: 1rem;
  width: 190px;
  margin-left: 40%;
  text-decoration: none;
}

.image-container-learn {
  max-width: 550px; /* Ajusta el ancho máximo si es necesario */
}

.image-container-learn img {
  width: 100%;
  height: 570px;
}

@media (max-width: 480px) {
  .container-learn {
    margin-left: 5%;
    height: 30vh;
    padding: 20px;
    width: 80%;
    background-image: none;
  }

  .text-container-learn-title{
    margin-left: 0;
    font-size: 2em;
  }

  .text-container-learn p{
    font-size: 1em;
  }

  .text-container-learn a{
    margin-left: 30%;
  }

  .image-container-learn{
    display: none;
  }
}
