@import url('https://fonts.cdnfonts.com/css/cascadia-code');

.pricing-section {
    height: 100vh;
    text-align: center;
    position: relative;
    overflow: hidden; /* Para asegurarse de que las imágenes no se salgan del contenedor */
}

.pricing-section::before {
    content: '';
    position: absolute;
    top: 250px;
    left: 0;
    width: 1500px; /* Ajusta según sea necesario */
    height: 500px; /* Ajusta según sea necesario */
    background: url('/puntos_abajo_izquierdda.svg') no-repeat;
    background-size: contain; /* Ajusta el tamaño de la imagen */
    z-index: -1;
    opacity: 0.3;
}

.pricing-section::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1500px; /* Ajusta según sea necesario */
    height: 1500px; /* Ajusta según sea necesario */
    background: url('/puntos_arriba_derecha.svg') no-repeat;
    background-size: contain; /* Ajusta el tamaño de la imagen */
    z-index: -1;
    opacity: 0.3;
}

h1 {
    padding-top: 20px;
    text-align: center;
    font-family: 'Cascadia Code', monospace;
    color: #45a049;
}

p {
    text-align: center;
    font-family: sans-serif;
    padding-bottom: 20px;
}

.plans {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.plan {
    background-color: white;
    margin: 0 10px;
    padding: 20px;
    width: 300px;
    border: 6px solid #3A9742;
    border-radius: 20px; /* Redondear bordes */
}

.plan h2 {
    font-family: 'Cascadia Code', monospace;
    color: #4CAF50;
    margin-bottom: 10px;
}

.price {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #52A45A;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-top: 20px;
}

ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
}

.check {
    color: #4CAF50;
    margin-right: 10px;
}

.unchecked {
    color: gray;
}

.unchecked span {
    color: gray;
}

.boton {
    background-color: #00AFC4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

.benefits-section {
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(180deg, #4DA15A, #3896B4);
    color: white;
}

.benefits-section h2 {
    font-family: 'Cascadia Code', monospace;
    margin-bottom: 20px;
}

.benefits {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.benefit {
    flex: 1;
    margin: 0 10px;
}

.benefit p {
    font-family: sans-serif;
    font-size: 20px;
}

#contact-button {
    font-family: 'Cascadia Code', monospace;
    background-color: white;
    color: #00AFC4;
    border: none;
    width: 280px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}